input.checkbox-custom{

    display: none;

}

div.checkbox-custom{

    height: 1.5em;
    width: 1.5em;
    border: 1px solid $gray-light;
    margin: 5 auto;
    cursor: pointer;
    display: inline-block;


    &.checked{

        box-shadow: inset 0px 0px 0px 4px #fff;
        background-color: blue;

    }

}

div.checkbox-custom2{

    height: 1em;
    width: 1em;
    border: 1px solid $gray-light;
    margin: 5px 20px -2px -20px;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    z-index: 1;

    &.checked{

        box-shadow: inset 0px 0px 0px 3px #fff;
        background-color: #02ed68;
    }


}
